
<h1>概述</h1>
<h2>alimama-common-performance platform(简称acp)是基于zookeeper的大规模分布式的性能测试平台,服务于妈妈各个业务线性能测试,acp 1.0开源版本已经发布,主要特性如下:</h2>
<h5>基于zookeeper的分布式调度服务/agent/接口,可同时调度万级别agent执行任务,任务分配粒度细化到协议/压测数据类型级别,同时提供运维页面/部署脚本.</h5>
<h5>c++版本的http性能测试工具,提供指标实时统计,压测报告产出,控制qps,批量读取query,支持同步等压测模式.</h5>
<h5>python实现的数据持久化方案,支持mysql,hbase等.</h5>
<h5>一站式web平台,触发任务,查看指标,停止任务,任务列表.</h5>
